@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-white;
  @apply bg-black;
  @apply print:text-black;
  @apply print:bg-white;
}

body {
  font-family: 'mononoki', monospace;
  @apply text-base;
}

@screen lg {
  body {
    width: 860px;
    margin: 0 auto;
  }
}

p {
  @apply mb-2;
  white-space: pre-wrap;
}

.ascii-art {
  font-family: 'Source Code Pro';
  vertical-align: top;
  white-space: pre;
}
